nav {
    background-color: #000;
}

.nav-santos {
    min-width: 800px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}

.nav-santos-items {
    display: flex;
    width: 70%;
}

.nav-icon {
    height: 45px;
}

a.nav-link {
    color: white;
}

ul.navbar-nav {
    flex-direction: row;
}

li.nav-item {
    margin: 0 15px;
}

li.nav-item.active {
    font-weight: bold;
}


main {
    min-width: 800px;
    max-width: 1000px;
    margin: auto;
}